<form method='POST' action='/teas'>
    <fieldset>
    <legend>{{ title }}</legend>
    <!-- Tea Flavor-->
    <p>
        <label for='tea_name'>Tea Flavor</label><br>
        <input id="tea_name" type='text' name='tea_name' required/>
    </p>

    <!-- Description -->
    <p>
        <label for='description'>Description</label><br>
        <input id ="description" type='text' name='description' required/>
    </p>

    <!-- Price -->
    <p>
        <label for='price'>Price</label><br>
        <input id="price" type='number' name='price' required/>
    </p>

    <!-- flavor -->
    <p>
        <label for='flavor'>Flavor</label><br>
        <input  type='radio' name='flavor' value= "berry"/required> berry
        <input  type='radio' name='flavor' value= "bluephoria"/requiredrequired> bluephoria
        <input  type='radio' name='flavor' value= "lemon"/required> lemon
        <input  type='radio' name='flavor' value= "orange"/requiredrequired> orange
        <input  type='radio' name='flavor' value= "mint"/required> mint
    </p>



    </fieldset>

    <!-- BUTTON -->
    <p>
        <button class="btn btn-primary" type='submit'>Save Tea</button>
        <!-- Cancel button -->
        <!-- <button><a href="">Cancel</a></button> -->
    </p>
</form>
