{% extends "base.html" %}

{% block content %}

<a href='/'>Back to Home</a>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<!-- Tea Flavor -->
		<h1>{{ tea.tea_flavor }}</h1>

		<!-- tea Picture -->
<!-- 		<div class="card"><div class="card-body">
			<img width="300"  height="300" src="/images/{{tea.color}}.png">
		</div></div> -->

		<!-- Description of the mug -->
		<h2>{{ mug.description }}</h2>

		<!-- Mug Price -->
		<h2>${{ mug.price}}</h2>


		<p><a href="/mugs/{{ mug._id }}/edit"><button  class="btn btn-primary">Edit</button></a></p>
		<p><form method="POST" action="/mugs/{{mug._id}}/delete">
			<input type='hidden' name='_method' value='DELETE'>

			<button class="btn btn-primary" type="submit">Delete</button>
		</form></p>
	</div>
</div>
{% endblock %}
