{% extends "base.html" %}

{% block content %}

<a href='/'>Back to Home</a>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<!-- tea Name -->
		<h1>{{ tea.tea_name }}</h1>

		<!-- tea Picture -->
		<div class="card"><div class="card-body">
			<img width="300"  height="300" src="/static/{{tea.color}}.png">
		</div></div>

		<!-- Description of the tea -->
		<h2>{{ tea.description }}</h2>

		<!-- tea Price -->
		<h2>${{ tea.price}}</h2>


		<p><a href="/teas/{{ tea._id }}/edit"><button  class="btn btn-primary">Edit</button></a></p>
		<p><form method="POST" action="/teas/{{tea._id}}/delete">
			<input type='hidden' name='_method' value='DELETE'>

			<button class="btn btn-primary" type="submit">Delete</button>
		</form></p>
	</div>
</div>
{% endblock %}
